<style>
  #app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
<div id="app"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
<script src="https://unpkg.com/three/examples/js/controls/OrbitControls.js"></script>
<script src="https://unpkg.com/three/examples/js/libs/stats.min.js"></script>
<script src="index.js"></script>